@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "msw";
  src: url("/src/assets/fonts/ms-sans.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "msdon";
  src: url("/src/assets/fonts/MS-Sans-Serif.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family:
    msw,
    Inter,
    system-ui,
    -apple-system BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #018281;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
